.catbar-container {
    width: 100%;
    height: initial;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.catbar-main {
    background-color: yellowgreen;
    width: 1170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 30px;
    border: gray 1px solid;
}

.catbar-main span {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
}

.home-icon svg {
    cursor: pointer;
}